<%= render "shared/content/box" do %>
  <div class="flex items-start">
    <%= image_tag "waiting-client-payment.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="font-bold text-lg">
        <%= t :awaiting_for_client_payment %>
      </h4>
      <p class="text-lg mb-3"><%= t :awaiting_for_client_payment_description %></p>
      <%= form_with(url: upload_payment_project_invoice_path(@invoice.project, @invoice), model: @invoice, method: :post, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :exchange %>
          <%= f.text_field :exchange, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :invoice, t(:afip_invoice) %>
          <%= f.file_field :invoice, class: "form-control", style: "height: 45px;" %>
        </div>
        <div class="form-group">
          <%= f.label :payment, t(:payment_receipt) %>
          <%= f.file_field :payment, class: "form-control", style: "height: 45px;" %>
        </div>
        <div class="text-center">
          <%= f.submit t(:register_payment), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
