<%= render "shared/content/box" do %>
  <div class="flex items-start">
    <%= image_tag "make-payments.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="font-bold text-lg"><%= t :pay_team %></h4>
      <p class="mb-3 text-lg"><%= t :pay_team_description %></p>

      <% @invoice_status.invoice_statuses.in_process.each do |member_status| %>
        <div class="p-3 mb-3 relative border flex items-center justify-between">
          <% if member_status.invoice.invoice.nil? %>
            <div class="absolute right-0 top-0 mt-4 mr-4 bg-orange-200 text-orange-800 rounded p-2"><%= t :waiting_for_afip_invoice_upload %></div>
          <% elsif member_status.invoice.is_paid? %>
            <div class="absolute right-0 top-0 mt-4 mr-4 bg-green-200 text-green-600 rounded p-2"><%= t :invoice_paid %></div>
          <% end %>
          <div class="flex items-start">
            <%= render "shared/icon/avatar", image_url: member_status.user.picture, extra_css: "mr-3" %>
            <div class="">
              <h5 class="font-bold">
                <%= "#{member_status.user.first_name} #{member_status.user.last_name}" %>
              </h5>
              <%= t(:afip_invoice_amount, amount: humanized_money_with_symbol(member_status.invoice.afip_price)) %>
              <% if member_status.invoice.invoice.nil? %>
              <% elsif member_status.invoice.is_paid? %>
              <% else %>
                <%= form_with(url: upload_payment_project_invoice_path(member_status.invoice.project, member_status.invoice), model: member_status.invoice, method: :post, local: true) do |f| %>
                  <div class="flex items-end">
                    <div class="form-group">
                      <%= f.label :payment, t(:payment_receipt) %>
                      <%= f.file_field :payment, class: "form-control", style: "height: 45px;" %>
                    </div>
                    <%= f.submit t(:register_payment), class: "btn btn-primary mb-3 ml-2" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
