<%= render "shared/content/box" do %>
  <div class="flex items-start">
    <%= image_tag "admin-review-entries.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="text-lg font-bold">
        <%= t :review_client_invoice %>
      </h4>
      <p class="text-lg mb-3">
        <%= t :review_client_invoice_description %>
      </p>

      <div class="text-center">
        <%= link_to t(:review_invoice), review_entries_project_invoice_path(@invoice.project, @invoice), class: "btn btn-secondary" %>
        <%= link_to t(:create_invoice), email_notify_project_invoice_path(@invoice.project, @invoice), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
