<div class="box invoice-next-step <%= "completed" if completed %>">
  <div class="media">
    <%= image_tag "admin-review-entries.png", class: "mr-4" %>
    <div class="media-body">
      <h4 class="mt-4 mb-1">
        <% if completed %>
          #2 - Confirm invoice entries <i class="fas fa-check-circle text-success"></i>
        <% else %>
          #2 - What to do next?
        <% end %>
      </h4>
      <p class="lead">Please review and confirm all entries for the client invoice are correct</p>

      <% unless completed %>
        <div class="text-right">
          <%= link_to "Review", review_entries_project_invoice_path(@invoice.project, @invoice), class: "btn btn-outline-secondary" %>
          <%= link_to "Notify client", email_notify_project_invoice_path(@invoice.project, @invoice), method: :post, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'invoices/invoice_status/admin/waiting_for_hours_confirmation', completed: true %>
