<%= render "shared/content/box" do %>
  <div class="flex items-start">
    <%= image_tag "waiting-confirmation.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="text-lg font-bold"><%= t :await_for_confirmation %></h4>
      <p class="text-lg mb-3"><%= t :await_for_confirmation_description %></p>

      <% @invoice_status.invoice_statuses.each do |member_status| %>
        <div class="p-3 mb-2 border flex items-center justify-between">
          <div class="flex items-center">
            <%= render "shared/icon/avatar", image_url: member_status.user.picture, extra_css: "mr-3" %>
            <h5 class="font-bold">
              <%= "#{member_status.user.first_name} #{member_status.user.last_name}" %>
            </h5>
          </div>
          <div>
            <% if member_status.confirmed_hours? %>
              <span class="bg-green-200 text-green-600 rounded p-2">
                <%= t :confirmed_hours %>
              </span>
            <% else %>
              <span class="bg-orange-200 text-orange-800 rounded p-2">
                <%= t :waiting_hours_confirmation %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="text-center">
        <% if @invoice_status.all_hours_confirmed? %>
          <%= link_to t(:create_client_invoice_for_review), add_entries_to_client_invoice_project_invoice_path(@invoice.project, @invoice), method: :post, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
