<%= form_with(model: [project, project_contract], local: true) do |form| %>
  <%= render 'shared/form/errors', errors: project_contract.errors %>

  <div class="form-group">
    <%= form.label :user_email, t(:email) %>

    <% if project_contract.persisted? %>
      <input type="text" value="<%= project_contract.user.email %>" class="w-full" readonly />
    <% else %>
      <%= form.email_field :user_email, class: "form-control", required: true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :activity, t(:role) %>
    <%= form.text_field :activity, class: "form-control", placeholder: t(:role_placeholder) %>
  </div>

  <div class="form-group">
    <%= form.label :project_rate, t(:project_hourly_rate) %>
    <%= form.number_field :project_rate, step: ".01", class: "form-control" %>
    <small class="text-gray-600"><%= t :project_hourly_rate_tooltip %></small>
  </div>
  <div class="form-group">
    <%= form.label :user_rate, t(:user_hourly_rate) %>
    <%= form.number_field :user_rate, step: ".01", class: "form-control" %>
    <small class="text-gray-600"><%= t :user_hourly_rate_tooltip %></small>
  </div>

  <div class="form-group">
    <%= form.label :is_admin, t(:is_admin) %>
    <%= form.check_box :is_admin %>
  </div>

  <% unless project_contract.user == current_user %>
  <% if project_contract.persisted? %>
    <div class="form-group border border-red-600 rounded px-4 mb-2">
      <h4 class="font-bold text-red-500 text-lg mb-2"><%= t :danger_zone %></h5>
      <%= link_to t(:remove_user_from_project), [project, project_contract], method: :delete, class: "btn btn-secondary" %>
    </div>
  <% end %>
  <% end %>

  <div class="text-right">
    <%= link_to t(:cancel), project, class: "btn btn-secondary" %>
    <%= form.submit t(:add_member), class: "btn btn-primary" unless project_contract.persisted? %>
    <%= form.submit t(:update_member_contract), class: "btn btn-primary" if project_contract.persisted? %>
  </div>
<% end %>
