<%= form_with(model: [project, project_contract], local: true) do |form| %>
  <%= render 'shared/form/errors', errors: project_contract.errors %>

  <div class="form-group">
    <%= form.label :user_id %>

    <% if project_contract.persisted? %>
      <input type="text" value="<%= project_contract.user.email %>" class="form-control-plaintext" readonly />
    <% else %>
      <%= form.select :user_id, members.collect { |member| [member.email, member.id] }, { :include_blank => "Select a user" }, { :class => "form-control" } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :activity %>
    <%= form.text_field :activity, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :active_from %>
        <%= form.date_field :active_from, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= form.label :ends_at %>
        <%= form.date_field :ends_at, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :project_rate %>
        <%= form.number_field :project_rate, step: ".01", class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= form.label :user_rate %>
        <%= form.number_field :user_rate, step: ".01", class: "form-control" %>
      </div>
    </div>
  </div>

  <%= form.submit "Add member", class: "btn btn-primary" unless project_contract.persisted? %>
  <%= form.submit "Update contract", class: "btn btn-primary" if project_contract.persisted? %>
<% end %>
