<!--
<button
    id="invoice-menu-popover-<%= invoice.id %>"
    type="button"
    class="btn border-0 btn-block btn-sm btn-outline-secondary nav-item nav-link dropdown-toggle"
    data-target="#invoiceActions<%= invoice.id %>"
    data-toggle="modal"
>
    <%= icon "fas", "ellipsis-v" %>
</button>
<div class="modal fade" id="invoiceActions<%= invoice.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-left">
                <h4 class="mt-2"><%= t :invoice %></h4>

                <div class="media p-3">
                    <%= image_tag invoice.user.picture, class: "avatar align-self-start mr-3" %>
                    <div class="media-body">
                        <h5 class="mt-1 m-0">
                            <%= invoice.user.first_name %> <%= invoice.user.last_name %>
                            <% if invoice.is_paid? %>
                                <span class="badge badge-success"><%= t :invoice_paid %></span>
                            <% end %>

                            <% if invoice.is_unpaid? %>
                                <span class="badge badge-warning"><%= t :invoice_unpaid %></span>
                            <% end %>
                        </h5>
                        <p class="mb-0">
                            <%= humanized_invoice_period(invoice) %> - <%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %>
                        </p>
                    </div>
                </div>

                <%= link_to([invoice.project, invoice], class: "dropdown-item") do %>
                    <i class="fas fa-info-circle"></i>
                    <%= t :invoice_details %>
                <% end %>

                <% if !invoice.project.is_client?(user) %>
                    <%= link_to(edit_project_invoice_path(invoice.project, invoice), class: "dropdown-item") do %>
                        <i class="fas fa-edit"></i>
                        <%= t :edit %>
                    <% end %>
                <% end %>

                <% if user.is_admin? %>
                    <%= link_to(email_notify_project_invoice_path(invoice.project, invoice), method: :post, class: "dropdown-item") do %>
                        <i class="far fa-envelope"></i>
                        Email notification
                        <small class="form-text text-muted">
                            Send an email notification to your client
                        </small>
                    <% end %>
                    <%= link_to(review_entries_project_invoice_path(invoice.project, invoice), class: "dropdown-item") do %>
                        <i class="fas fa-list-ol"></i>
                        Review entries
                        <small class="form-text text-muted">
                            Review and edit all the activity logs associated with this invoice
                        </small>
                    <% end %>

                    <% if invoice.is_client_visible? %>
                        <%= link_to(make_internal_project_invoice_path(invoice.project, invoice), method: :post, class: "dropdown-item") do %>
                            <i class="fas fa-user-secret"></i>
                            Convert to internal invoice
                            <small class="form-text text-muted">
                                Internal invoices are only visible for our team
                            </small>
                        <% end %>
                    <% else %>
                        <%= link_to(make_client_project_invoice_path(invoice.project, invoice), method: :post, class: "dropdown-item") do %>
                            <i class="fas fa-user-tie"></i>
                            Convert to client invoice
                            <small class="form-text text-muted">
                                These invoices can be accessed by clients
                            </small>
                        <% end %>
                    <% end %>

                    <% if invoice.is_visible? %>
                        <%= link_to(hide_project_invoice_path(invoice.project, invoice), method: :post, class: "dropdown-item") do %>
                            <i class="fas fa-eye-slash"></i>
                            Make it invisible
                            <small class="form-text text-muted">
                                For client invoices, this will hide the invoice for them
                            </small>
                        <% end %>
                    <% else %>
                        <%= link_to(make_visible_project_invoice_path(invoice.project, invoice), method: :post, class: "dropdown-item") do %>
                            <i class="fas fa-eye"></i>
                            Make it visible
                            <small class="form-text text-muted">
                                For client invoices, this will make the invoice visible to them
                            </small>
                        <% end %>
                    <% end %>
                <% end %>

                <% if can? :manage, invoice %>
                    <%= link_to(project_invoice_path(invoice.project, invoice), method: :delete, class: "dropdown-item") do %>
                        <i class="fas fa-trash"></i>
                        <%= t :delete %>
                        <small class="form-text text-muted">
                            Safely archive this invoice (it can be recover later)
                        </small>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
-->
