<%= form_with(model: [project, invoice], local: true) do |form| %>
  <%= render 'shared/form/errors', errors: invoice.errors %>

  <div class="form-group">
    <%= form.label :project %>
    <input type="text" value="<%= project.name %>" class="form-control-plaintext" readonly />
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.select :currency, [['USD', 'USD'], ['ARS', 'ARS']], {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :discount_percentage %>
    <%= form.number_field :discount_percentage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :from %>
    <%= form.date_field :from, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :to %>
    <%= form.date_field :to, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Create invoice", class: "btn btn-primary" %>
  </div>
<% end %>
