<div class="flex items-start mb-3 p-3 border rounded shadow-sm entry">
  <%= render "shared/icon/avatar", image_url: entry.object.activity_track.project_contract.user.picture, extra_css: "avatar mr-3" %>
  <div class="w-full">
    <h5 class="font-bold">
      <%= entry.object.activity_track.project_contract.user.first_name %> <%= entry.object.activity_track.project_contract.user.last_name %>
    </h5>
    <div class="form-group">
      <%= entry.text_area :description, class: "form-control", style: "height: 109px;" %>
    </div>
    <div class="grid gap-1 grid-cols-3">
      <div class="form-group">
        <%= entry.label :rate %>
        <div>
          <%= entry.number_field :rate, class: "form-control rate", onchange: "updateInvoiceTotal()" %>
        </div>
      </div>
      <div class="form-group">
        <%= entry.label :from %>
        <div class="col-sm-10">
          <%= entry.datetime_field :from, class: "form-control from", onchange: "updateInvoiceTotal()" %>
        </div>
      </div>
      <div class="form-group">
        <%= entry.label :to %>
        <div class="col-sm-10">
          <%= entry.datetime_field :to, class: "form-control to", onchange: "updateInvoiceTotal()" %>
        </div>
      </div>
    </div>
    <div class="form-group text-right">
      <strong>Quantity:</strong> <span class="quantity">0</span>
      |
      <strong>Total:</strong> <span class="total">0</span>
    </div>
  </div>
</div>
