<h6 class="font-bold"><%= t :review_invoice %></h6>

<%= render 'shared/form/errors', errors: invoice.errors %>

<%= form_with(model: [project, invoice], local: true, id: "invoice-form") do |form| %>
    <h6 class="mb-2 font-bold"><%= t :entries %></h6>
    <% if invoice.invoice_entries.empty? %>
        <p class="text-lg"><%= t :no_entries_found %></p>
    <% end %>
    <%= form.fields_for :invoice_entries do |entry| %>
        <%= render 'invoice_entry', entry: entry %>
    <% end %>
    <div class="text-right form-group">
        <span class="font-bold">Total:</span> <span class="invoice-total">0</span> <%= invoice.currency %>
    </div>
    <div class="form-group text-right">
        <%= form.submit t(:update_invoice), class: "btn btn-primary" %>
    </div>
<% end %>
