<div class="box">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
      <li class="breadcrumb-item"><%= link_to "Invoices", project_invoices_path(@project) %></li>
      <li class="breadcrumb-item"><%= link_to humanized_invoice_period(@invoice), [@project, @invoice] %></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <% if current_user.is_admin? %>
    <%= render 'review_invoice_entries', project: @project, invoice: @invoice %>
  <% else %>
    <%= render 'form', project: @project, invoice: @invoice %>
  <% end %>
</div>