<div class="box">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
      <li class="breadcrumb-item"><%= link_to "Invoices", project_invoices_path(@project) %></li>
      <li class="breadcrumb-item"><%= link_to humanized_invoice_period(@invoice), [@project, @invoice] %></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <h6>Review invoice entries</h6>

  <%= render 'shared/form/errors', errors: @invoice.errors %>

  <%= form_with(model: [@project, @invoice], local: true, id: "invoice-form") do |form| %>
    <div class="form-group">
      <%= form.label :discount_percentage %>
      <%= form.number_field :discount_percentage, class: "form-control discount-percentage", onchange: "updateInvoiceTotal()" %>
    </div>

    <label>Entries</label>
    <p class="lead">
      <%= "No entries found for this period" if @invoice.invoice_entries.empty? %>
    </p>
    <%= form.fields_for :invoice_entries do |entry| %>
      <%= render 'invoice_entry', entry: entry %>
    <% end %>
    <div class="text-right form-group">
      <strong>Total:</strong> <span class="invoice-total">0</span> <%= @invoice.currency %>
    </div>
    <div class="form-group text-right">
      <%= form.submit "Update and review", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>