<div class="box">
  <h6>Invoices</h6>
  <p class="lead text-center">
    <%= "Nothing to be displayed here..." unless @invoices.present? %>
  </p>
  <% @invoices.each do |invoice| %>
    <div class="mb-3 p-3 border rounded shadow-sm">
      <%= link_to invoice.from.strftime("%B %Y"), [@project, invoice] %> - Amount <%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %><br />
      <% if !@project.is_client?(current_user) %>
        <%= link_to "Edit", edit_project_invoice_path(@project, invoice), class: "btn btn-orange btn-sm" %>
      <% end %>
    </div>
  <% end %>

  <% if can? :manage, Invoice %>
    <%= link_to "Create invoice", new_project_invoice_path(@project), class: "btn btn-primary" %>
  <% end %>
</div>
