<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
  </ol>
</nav>

<div class="box">
  <h6>Invoices</h6>
  <% unless @invoices.present? %>
  <p class="lead text-center">
    <%= "Nothing to be displayed here..." %>
  </p>
  <% else %>
  <table class="table border">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <% if current_user.is_admin? %>
        <th scope="col">From</th>
        <th scope="col">Is for client</th>
        <th scope="col">Is visible</th>
        <% end %>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
        <th scope="col">Amount</th>
        <th scope="col">Discount</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each.with_index(1) do |invoice, index| %>
        <tr>
          <th class="align-middle" scope="row"><%= index %></th>
          <% if current_user.is_admin? %>
          <td class="align-middle"><%= image_tag (invoice.user.picture || ""), class: "avatar align-self-center mr-2" %> <%= invoice.user.first_name %></td>
          <td class="align-middle"><%= invoice.is_client_visible? ? "Yes" : "No" %></td>
          <td class="align-middle"><%= invoice.is_visible? ? "Yes" : "No" %></td>
          <% end %>
          <td class="align-middle"><%= invoice.from.strftime("%B") %></td>
          <td class="align-middle"><%= invoice.from.strftime("%Y") %></td>
          <td class="align-middle"><%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %></td>
          <td class="align-middle"><%= invoice.discount_percentage %>%</td>
          <td class="align-middle text-center">
            <button
              id="menu-popover-<%= index %>"
              type="button"
              class="btn btn-block btn-sm btn-outline-secondary nav-item nav-link dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-cog"></i>
              Actions
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="menu-popover-<%= index %>">
              <%= link_to([@project, invoice], class: "dropdown-item") do %>
                <i class="fas fa-info-circle"></i>
                Details
              <% end %>
              <% if !@project.is_client?(current_user) %>
                <%= link_to(edit_project_invoice_path(@project, invoice), class: "dropdown-item") do %>
                  <i class="fas fa-edit"></i>
                  Edit
                <% end %>
              <% end %>
              <% if current_user.is_admin? %>
                <%= link_to(review_entries_project_invoice_path(@project, invoice), class: "dropdown-item") do %>
                  <i class="fas fa-list-ol"></i>
                  Review entries
                  <small class="form-text text-muted">
                    Review and edit all the activity logs associated with this invoice
                  </small>
                <% end %>
                <% if invoice.is_visible? %>
                  <%= link_to(hide_project_invoice_path(@project, invoice), method: :post, class: "dropdown-item") do %>
                    <i class="fas fa-eye-slash"></i>
                    Make it invisible
                    <small class="form-text text-muted">
                      For client invoices, this will hide the invoice for them
                    </small>
                  <% end %>
                <% else %>
                  <%= link_to(make_visible_project_invoice_path(@project, invoice), method: :post, class: "dropdown-item") do %>
                    <i class="fas fa-eye"></i>
                    Make it visible
                    <small class="form-text text-muted">
                      For client invoices, this will make the invoice visible to them
                    </small>
                  <% end %>
                <% end %>
              <% end %>
              <% if can? :manage, invoice %>
                <div class="dropdown-divider"></div>
                <%= link_to(download_invoice_project_invoice_path(@project, invoice), class: "dropdown-item") do %>
                  <i class="fas fa-file-invoice"></i>
                  Download invoice
                  <small class="form-text text-muted">
                    Download the PDF file attached when the invoice was created
                  </small>
                <% end %>
                <% if invoice.payment_data.nil? %>
                  <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fas fa-lock"></i>
                    Download payment receipt
                    <small class="form-text text-muted">
                      Once the payment is done, you will be able to download the receipt
                    </small>
                  </a>
                <% else %>
                  <%= link_to(download_payment_project_invoice_path(@project, invoice), class: "dropdown-item") do %>
                    <i class="fas fa-receipt"></i>
                    Download payment receipt
                    <small class="form-text text-muted">
                      Download the PDF used as a payment receipt for this invoice
                    </small>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </td>
        </th>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <% unless @project.is_client? current_user %>
    <%= link_to "Create invoice", new_project_invoice_path(@project), class: "btn btn-primary" %>
  <% end %>
</div>
