<% content_for :menu do %>
  <div class="mt-4 pb-5">
    <%= link_to project_invoices_path(@project), class: "btn btn-secondary w-full back-animation" do %>
      <div class="flex items-center">
        <svg class="w-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
        </svg>
        <%= t :back %>
      </div>
    <% end %>
  </div>

  <div class="mt-4 pb-5">
    <h4 class="text-sm font-bold text-gray-600 my-3 uppercase">
      <%= t :created_by %>
    </h4>
    <div class="flex items-center">
      <%= render "shared/icon/avatar", image_url: @invoice.user.picture, extra_css: "mr-3" %>
      <div>
        <div class="text-lg font-bold"><%= @invoice.user.first_name %> <%= @invoice.user.last_name %></div>
        <span class="text-gray-500"><%= @invoice.user.email %></span>
      </div>
    </div>
  </div>

  <div class="pb-5">
    <h4 class="text-sm font-bold text-gray-600 my-3 uppercase">
      <%= t :actions %>
    </h4>
    <%= link_to project_invoice_path(@invoice.project, @invoice, format: :pdf), class: "btn btn-secondary mb-2 w-full animation-expand-hover" do %>
      <div class="flex items-center">
        <svg class="w-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
        </svg>
        <%= t :download_client_invoice %>
      </div>
    <% end %>
    <%= link_to download_invoice_project_invoice_path(@invoice.project, @invoice), class: "btn btn-secondary mb-2 w-full animation-expand-hover" do %>
      <div class="flex items-center">
        <svg class="w-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
        </svg>
        <%= t(:invoice_download_afip_invoice) %>
      </div>
    <% end %>
    <%= link_to download_payment_project_invoice_path(@invoice.project, @invoice), class: "btn btn-secondary mb-2 w-full animation-expand-hover" do %>
      <div class="flex items-center">
        <svg class="w-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
        </svg>
        <%= t(:invoice_download_payment_receipt) %>
      </div>
    <% end %>
    <% if can? :manage, @invoice %>
      <%= link_to project_invoice_path(@invoice.project, @invoice), method: :delete, class: "btn btn-secondary mb-2 w-full animation-expand-hover" do %>
        <div class="flex items-center">
          <svg class="w-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
          <%= t :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <h4 class="text-sm font-bold text-gray-600 my-3 uppercase">
    <%= t :invoice %>
  </h4>

  <%= render "shared/content/box" do %>
    <h3 class="font-bold text-lg mb-3">
      <%= t :invoice_period %> <%= humanized_invoice_period(@invoice) %>
    </h3>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="py-2 text-left">#</th>
          <th class="py-2 text-left">Item</th>
          <th class="py-2 text-right">Rate</th>
          <th class="py-2 text-right">Qty</th>
          <th class="py-2 text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.invoice_entries.order(from: :asc).each.with_index(1) do |entry, index| %>
          <tr>
            <td class="py-2">
              <%= index %>
            </td>
            <td class="py-2">
              <div>
                <%= entry.description.gsub(/\n/, '<br/>').html_safe %>
                <br />
                <small>From <%= entry.activity_track.project_contract.user.first_name %></small>
              </div>
            </td>
            <td class="py-2 text-right">
              <%= entry.rate %>
            </td>
            <td class="py-2 text-right">
              <%= entry.calculate_quantity.round(2) %>
            </td>
            <td class="py-2 text-right">
              <%= humanized_money_with_currency(entry.calculate_total, @invoice.currency) %>
            </td>
          </tr>
        <% end %>
        <tr class="border-top">
          <td colspan="3" rowspan="4"></td>
          <td class="text-right"><strong>SUBTOTAL</strong></td>
          <td class="text-right">
            <%= humanized_money_with_currency(@invoice.calculate_subtotal, @invoice.currency) %>
          </td>
        </tr>
        <tr class="text-right">
          <td class="pt-0"><strong>DISCOUNT</strong></td>
          <td class="pt-0"><%= @invoice.discount_percentage %>%</td>
        </tr>
        <tr class="text-right">
          <td class="pt-0"><strong>TOTAL</strong></td>
          <td class="pt-0"><%= humanized_money_with_currency(@invoice.calculate_total, @invoice_currency) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= render "projects/layout" %>
