<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-print-none">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
    <li class="breadcrumb-item"><%= link_to "Invoices", project_invoices_path(@project) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= humanized_invoice_period(@invoice) %></li>
  </ol>
</nav>

<div class="box">
  <h6>Invoice</h6>

  <h3>
    Invoice Period <%= humanized_invoice_period(@invoice) %>
  </h3>
  <div class="table-responsive border">
    <table class="table table-borderless">
      <thead class="border-bottom">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col" class="text-right">Rate</th>
          <th scope="col" class="text-right">Qty</th>
          <th scope="col" class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.invoice_entries.order(from: :asc).each.with_index(1) do |entry, index| %>
          <tr>
            <td scope="row" class="invoice-number-col">
              <div><%= index %></div>
            </td>
            <td class="invoice-description-col">
              <div>
                <%= entry.description.gsub(/\n/, '<br/>').html_safe %>
                <br />
                <small>From <%= entry.activity_track.project_contract.user.first_name %></small>
              </div>
            </td>
            <td class="text-right invoice-rate-col">
              <div><%= entry.rate %></div>
            </td>
            <td class="text-right invoice-qty-col">
              <div><%= entry.calculate_quantity.round(2) %></div>
            </td>
            <td class="text-right invoice-total-col">
              <div><%= humanized_money_with_currency(entry.calculate_total, @invoice.currency) %></div>
            </td>
          </tr>
        <% end %>
        <tr class="border-top">
          <td colspan="3" rowspan="4"></td>
          <td class="text-right"><strong>SUBTOTAL</strong></td>
          <td class="text-right">
            <%= humanized_money_with_currency(@invoice.calculate_subtotal, @invoice.currency) %>
          </td>
        </tr>
        <tr class="text-right">
          <td class="pt-0"><strong>DISCOUNT</strong></td>
          <td class="pt-0"><%= @invoice.discount_percentage %>%</td>
        </tr>
        <tr class="text-right">
          <td class="pt-0"><strong>TOTAL</strong></td>
          <td class="pt-0"><%= humanized_money_with_currency(@invoice.calculate_total, @invoice_currency) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if can? :manage, @invoice %>
    <div class="my-3 text-right">
      <%= link_to "View status", status_project_invoice_url(@project, @invoice), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
