<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-print-none">
    <li class="breadcrumb-item"><a href="/"><%= t :home %></a></li>
    <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
    <li class="breadcrumb-item"><%= link_to t(:invoices), project_invoices_path(@project) %></li>
    <li class="breadcrumb-item"><%= link_to humanized_invoice_period(@invoice), [@invoice.project, @invoice] %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t :invoice_status %></li>
  </ol>
</nav>

<h1 class="mb-0"><%= t :invoice_status %></h1>
<h4 class="text-muted"><%= t :invoice_period %> <%= humanized_invoice_period(@invoice) =%></h4>

<div class="text-center my-4">
  <%= link_to t(:invoice_details), [@invoice.project, @invoice], class: "btn btn-link" %>

  <% if @invoice.payment.present? %>
    <%= link_to(t(:invoice_download_payment_receipt), download_payment_project_invoice_path(@invoice.project, @invoice), class: "btn btn-link") %>
  <% else %>
    <button
      data-toggle="tooltip"
      title="<%= t :invoice_download_payment_tooltip %>"
      class="disabled btn btn-link"
      type="button"
    >
      <%= t(:invoice_download_payment_receipt) %>
    </button>
  <% end %>

  <% if @invoice.invoice.present? %>
    <%= link_to(t(:invoice_download_afip_invoice), download_invoice_project_invoice_path(@invoice.project, @invoice), class: "btn btn-link") %>
  <% else %>
    <button
      data-toggle="tooltip"
      title="<%= t :invoice_download_invoice_tooltip %>"
      class="disabled btn btn-link"
      type="button"
    >
      <%= t(:invoice_download_afip_invoice) %>
    </button>
  <% end %>
</div>

<% if @invoice_status.admin_status? %>
  <%= render 'admin_status' %>
<% else %>
  <%= render 'member_status' %>
<% end %>
