<%= form_with(model: user, local: true) do |form| %>
  <%= render 'shared/form/errors', errors: user.errors %>

  <div class="form-group">
    <%= form.label :first_name, t(:first_name) %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name, t(:last_name) %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :locale, t(:locale) %>
    <%= form.select :locale, [['🇦🇷 Español', 'es'], ['🇺🇸 English', 'en']], {}, class: "bg-white form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :time_zone, t(:time_zone) %>
    <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.country_zones(:ar), { default: 'Eastern Time (US & Canada)' }, { class: 'bg-white form-control' } %>
  </div>

  <div class="text-right">
    <%= link_to t(:cancel), home_url, class: "btn btn-secondary" %>
    <%= form.submit t(:save), class: "btn btn-primary" %>
  </div>
<% end %>
