<div class="box">
  <h6>Users</h6>
  <%= link_to "Add user", new_user_path, class: "btn btn-primary" %>
  <table class="table border my-3">
    <thead class="thead-light">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col"><div class="text-center">Actions</div></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each.with_index do |user, index| %>
        <tr>
          <td class="align-middle"><%= image_tag (user.picture || ""), class: "avatar" %> <%= user.first_name + " " + user.last_name %></td>
          <td class="align-middle"><%= user.email %></td>
          <td class="align-middle text-center">
            <button
              id="menu-popover-<%= index %>"
              type="button"
              class="btn btn-block btn-sm btn-outline-secondary nav-item nav-link dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="menu-popover-<%= index %>">
              <%= link_to(edit_user_path(user), class: "dropdown-item") do %>
                <i class="fas fa-edit"></i>
                Edit
              <% end %>
              <%= link_to(become_user_path(user), method: :post, class: "dropdown-item") do %>
                <i class="fas fa-user-secret"></i>
                Impersonate
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add user", new_user_path, class: "btn btn-primary" %>
</div>