<h4 class="font-bold">Users</h4>

<%= link_to new_user_path, class: "btn btn-primary" do %>
  Create user
<% end %>

<% unless @users.present? %>
  <%= render "shared/content/box" do %>
    <p class="lead mb-0">No users found...</p>
  <% end %>
<% else %>
  <% @users.each.with_index do |user, index| %>
    <div class="mb-2">
      <%= render "shared/content/box" do %>
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <%= render "shared/icon/avatar", image_url: user.picture, extra_css: "mr-3" %>
            <div class="">
              <h5 class="font-bold">
                <%= user.first_name %> <%= user.last_name %>
                <% if user.is_admin? %>
                  <span class="bg-blue-400 text-white rounded px-2">Admin</span>
                <% end %>
              </h5>
              <p class="mb-0">
                Email: <%= user.email %>
              </p>
              <p class="mb-0">
                Last logging: <%= user.updated_at %>
              </p>
              <p class="mb-0">
                Sign in count: <%= user.sign_in_count %>
              </p>
              <p class="mb-0">
                Locale: <%= user.locale %>
              </p>
            </div>
          </div>
          <div>
            <%= link_to(edit_user_path(user), class: "text-center block w-full btn btn-secondary") do %>
              Edit
            <% end %>
            <%= link_to(become_user_path(user), method: :post, class: "text-center block w-full btn btn-secondary") do %>
              Impersonate
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
