<h1 class="text-center text-3xl font-bold mb-2">Change your password</h1>

<div class="w-1/3 mx-auto">
  <%= render "shared/content/box" do %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
