<h1 class="text-center text-3xl font-bold mb-2">Forgot your password?</h1>

<div class="w-1/3 mx-auto">
  <%= render "shared/content/box" do %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
