<div class="bg-yellow-100 text-orange-800 p-4 mb-3 border flex items-center">
  <% if current_user.on_generic_trial? %>
    <div><%= t :trial_message_html, name: current_user.first_name, days: current_user.trial_days_left %></div>
  <% elsif not current_user.subscribed? %>
    <svg class="w-6 mr-3 animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
    </svg>
    <div><%= t :expired_active_period_message_html, name: current_user.first_name %></div>
  <% end %>
</div>

<% @invitations.each do |invitation| %>
  <div class="bg-blue-200 text-blue-600 border p-4 mb-3 flex items-center justify-between">
    <div class="text-lg flex items-center">
      <svg class="w-6 mr-3 animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      <%= t(:invited_to_project, user: current_user.first_name, project: invitation.project.name) %>
    </div>
    <div>
      <%= link_to t(:decline_invitation), decline_project_project_invitation_path(invitation.project, invitation.id), method: :post, class: "btn btn-secondary bg-white" %>
      <%= link_to t(:accept_invitation), accept_project_project_invitation_path(invitation.project, invitation.id), method: :post, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <%= render "projects_box" %>
<% end %>

<%= render "auth_layout" %>
