<div class="hero-header">
  <div class="text-center py-16">
    <h1 class="text-5xl font-bold">
      Registrá tu trabajo, invitá a tu equipo y facturá.
    </h1>
    <p class="text-2xl text-gray-600">
      La herramienta indispensable para el freelancer argentino
    </p>
  </div>
  <div class="text-center">
    <%= link_to "Probá Trackear gratis por 30 días", new_user_session_path, class: "inline-block px-10 py-4 text-xl font-bold bg-pink-500 text-white rounded animation-expand-hover" %>
    <div class="block text-lg mt-2">o <%= link_to "¡Levantá tu propia instancia gratis!", "https://github.com/Ruk33/trackear", class: "text-blue-500" %></div>
  </div>
</div>

<div class="home-preview">
  <div class="pt-2 text-center text-gray-600">Trackear.app</div>
</div>

<hr class="pb-10" />

<div class="grid gap-16 grid-cols-2 my-6" id="why-trackear">
  <div>
    <div class="mb-16">
      <%= image_tag "guest/project-view-3.png", class: "w-full opacity-75 shadow-md rounded border mb-8 image-animation" %>
      <h2 class="text-2xl font-bold my-2 text-gray-800">
        Llevá el registro de tu trabajo
      </h2>
      <p class="text-xl text-gray-600 py-2">
        Con Trackear vas a poder llevar el registro de tu trabajo (y el de tu equipo) de forma fácil y rápida.
      </p>
      <p class="text-xl text-gray-600 py-2">
        Olvidate de tener que mantener planillas de cálculo manualmente.
      </p>
    </div>

    <div class="mb-16">
      <%= image_tag "guest/invoice-creation-2.png", class: "w-full opacity-75 shadow-md rounded border mb-8 image-animation" %>
      <h2 class="text-2xl font-bold text-gray-800">
        Facturación
      </h2>
      <p class="text-xl text-gray-600 py-2">
        Creá facturas internas para tu equipo y para tus clientes en un par de clicks.
      </p>
      <p class="text-xl text-gray-600 py-2">
        Con Trackear vas a poder notificar a tus clientes de una nueva factura por e-mail.
      </p>
    </div>
  </div>
  <div>
    <div class="mb-16">
      <%= image_tag "guest/stopwatch-2.png", class: "w-full opacity-75 shadow-md rounded border mb-8 image-animation" %>
      <h2 class="text-2xl font-bold my-2 text-gray-800">
        Cronometrá tu actividad
      </h2>
      <p class="text-xl text-gray-600 py-2">
        ¿Necesitás llevar un registro más preciso de tu trabajo? ¡Usá la función cronómetro para obtener un registro perfecto!
      </p>
      <p class="text-xl text-gray-600 py-2">
        Con el cronómetro podés obtener registros precisos de tu trabajo.
      </p>
    </div>

    <div class="mb-16">
      <%= image_tag "guest/invoice-summary-2.png", class: "w-full opacity-75 shadow-md rounded border mb-8 image-animation" %>
      <h2 class="text-2xl font-bold text-gray-800">
        Documentación
      </h2>
      <p class="text-xl text-gray-600 py-2">
        Adjunta comprobantes de pago, facturas de AFIP para vos y todo tu equipo.
      </p>
      <p class="text-xl text-gray-600 py-2">
        Nunca mas pierdas tiempo buscando esta documentación cuando te la pidan. Con Trackear, lo tenés siempre disponible.
      </p>
    </div>
  </div>
</div>

<div class="mt-16 p-20 shadow border rounded bg-white" id="pricing">
  <div class="grid gap-8 grid-cols-2">
    <div>
      <h2 class="text-5xl font-bold">
        Precio
      </h2>
      <p class="text-2xl text-gray-600 py-2">
        Un único precio fijo mensual. Invitá a todo tu equipo sin límite alguno. Clientes ilimitados y facturacion ilimitada.
      </p>
    </div>

    <div>
      <h3 class="text-center text-5xl font-bold pt-12 text-pink-500">
        ARS $480 <span class="text-gray-500">/mes</span>
      </h3>
      <div class="text-center text-gray-600 pb-6">IVA incluído</div>

      <div class="text-center">
        <%= link_to "Probalo gratis por 30 días", new_user_session_path, class: "inline-block px-8 py-4 text-lg font-bold border border-pink-500 text-pink-500 rounded shadow" %>
      </div>
    </div>
  </div>

  <hr class="my-12" />

  <h2 class="text-2xl font-bold" id="faq">Preguntas frecuentes</h2>
  <div class="grid gap-8 grid-cols-2 my-6">
    <div>
      <div class="mb-10">
        <h3 class="text-lg">¿Cuántos usuarios puedo invitar a mi proyecto?</h3>
        <p class="text-lg text-gray-600 py-2">
          No hay ningún límite. Podés invitar a todos los usuarios que quieras y necesites.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">¿Hay algún límite en cuanto a la documentación que puedo subir?</h3>
        <p class="text-lg text-gray-600 py-2">
          Podés subir toda la documentación, recibos de pago, facturación, etc. que necesites. No hay límite alguno.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">¿Qué pasa cuando termina el período de prueba?, ¿puedo seguir accediendo a mi documentación y registros?</h3>
        <p class="text-lg text-gray-600 py-2">
          Cuando tu período de prueba termina, vas a poder seguir accediendo a tu cuenta y a toda tu información con normalidad. El único cambio será que no podrás crear nuevos registros y/o adjuntar nueva documentación.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">¿Necesito ingresar un medio de pago para probar Trackear?</h3>
        <p class="text-lg text-gray-600 py-2">
          No. Podés probar Trackear completamente gratis y sin necesidad de ingresar algún medio de pago.
        </p>
      </div>
    </div>
    <div>
      <div class="mb-10">
        <h3 class="text-lg">¿Puedo levantar una instancia de Trackear gratis en mi servidor?</h3>
        <p class="text-lg text-gray-600 py-2">
          Si. Trackear es una plataforma de <%= link_to "código abierto y libre", "https://github.com/Ruk33/trackear", class: "text-blue-500" %>. Podés descargar el código y subirlo a tu servidor.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">¿Ofrecen descuentos?</h3>
        <p class="text-lg text-gray-600 py-2">
          Si. Pagando 1 año por adelantado, te ofrecemos un 15% de descuento.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">¿Puedo pedir una extensión de mi prueba gratuita?</h3>
        <p class="text-lg text-gray-600 py-2">
          Si. Queremos que estés completamente seguro y satisfecho de que Trackear es de tu utilidad.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">¿Puedo cancelar mi suscripción?</h3>
        <p class="text-lg text-gray-600 py-2">
          Si, vas a podés cancelar tu suscripción en cualquier momento.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="text-lg">Tengo mas preguntas</h3>
        <p class="text-lg text-gray-600 py-2">
          Enviános un email a contact@black-mountain.com.ar.
        </p>
      </div>
    </div>
  </div>
</div>

