<div class="home-index">
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <h1>Con trackear podes registrar tu trabajo, invitar a tu equipo y facturar</h1>
          <h3 class="lead">La herramienta indispensable para el freelancer argentino</h3>
          <div class="text-center py-4">
            <%= link_to "¡Probalo completamente gratis!", user_google_oauth2_omniauth_authorize_path, class: "btn btn-lg btn-orange" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
        <%= image_tag 'project-detail-view.png', class: "image-preview", alt: "Detalle de proyecto" %>
      </div>
      <div class="col-lg-6">
        <div class="py-4">
          <h2>Creá y administrá proyectos</h2>
          <p class="lead">Creá tus proyectos, dale seguimiento y no te pierdas de ningún detalle.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="py-4">
          <h2>Registrá tus horas de trabajo</h2>
          <p class="lead">Tomá el control y registrá tu trabajo de forma simple y rápida. ¡No dejés que se te escape un segundo!</p>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <%= image_tag 'add-logs.png', class: "image-preview", alt: "Registrá tus horas de trabajo" %>
      </div>
    </div>
  </div>

  <div class="section container">
    <div class="text-center">
      <h2>Facturación</h2>
      <p class="lead">
        Olvidate de las complicaciones la hora de facturar. Nos encargamos específicamente de que el proceso de facturación sea lo más simple y automático posible.
      </p>
  </div>

  <div id="invoicingProcess" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
      <li data-target="#invoicingProcess" data-slide-to="0" class="active"></li>
      <li data-target="#invoicingProcess" data-slide-to="1"></li>
      <li data-target="#invoicingProcess" data-slide-to="2"></li>
      <li data-target="#invoicingProcess" data-slide-to="3"></li>
      <li data-target="#invoicingProcess" data-slide-to="4"></li>
      <li data-target="#invoicingProcess" data-slide-to="5"></li>
      <li data-target="#invoicingProcess" data-slide-to="6"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="text-center">
          <%= image_tag 'create-invoice.png', class: "img-fluid", alt: "Creá la factura" %>
        </div>
        <div class="caption text-center">
          <h5>Creá tu factura</h5>
          <p>
            Seleccioná el período a facturar. Te vamos a mostrar un resúmen rápido de horas.<br>
            No te preocupés, durante el proceso vas a poder confirmar que esté todo correcto.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-center">
          <%= image_tag 'invoice-member-first.png', class: "img-fluid", alt: "Confirmá los montos con tu equipo" %>
        </div>
        <div class="caption text-center">
          <h5>Confirmá los montos con tu equipo</h5>
          <p>Perfecto para que con tu equipo confirmen que los montos y los registros sean correctos.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-center">
          <%= image_tag 'review-invoice.png', class: "img-fluid", alt: "Revisión final de factura" %>
        </div>
        <div class="caption text-center">
          <h5>Revisión final</h5>
          <p>Te damos la oportunidad de que hagas una revisión final como administrador. Si todo está correcto, ¡estás listo para notificar al cliente!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-center">
          <%= image_tag 'client-notified.png', class: "img-fluid", alt: "Notificá a tu cliente de una nueva factura" %>
        </div>
        <div class="caption text-center">
          <h5>¡Cliente notificado!</h5>
          <p>
            Enviamos un email a tu cliente notificando que tiene una factura de tus servicios.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-center">
          <%= image_tag 'register-payment.png', class: "img-fluid", alt: "Registrá pagos" %>
        </div>
        <div class="caption text-center">
          <h5>Registrando el pago</h5>
          <p>
            De manera simple registrá el pago y tu factura de AFIP para que nunca mas pierdas documentacion.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-center">
          <%= image_tag 'pay-member.png', class: "img-fluid", alt: "Pagá a tu equipo" %>
        </div>
        <div class="caption text-center">
          <h5>Enviá y registrá el pago a tu equipo</h5>
          <p>
            Registrá el pago a cada uno de los integrantes de tu equipo. Tu documentación queda almacenada lista para cuando la necesites.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-center">
          <%= image_tag 'done.png', class: "img-fluid", alt: "Facturación completada" %>
        </div>
        <div class="caption text-center">
          <h5>¡Listo!</h5>
          <p>
            Ahora ya podés descargar toda la documentación y facturación (incluída la de tu equipo).<br>
            ¡Documentación ideal y perfecta para contadores!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section footer">
  <div class="container text-center">
    <h2>Como dijimos...<br>¡LA herramienta indispensable para el freelancer argentino!</h2>
    <%= link_to "¡Probalo completamente gratis!", user_google_oauth2_omniauth_authorize_path, class: "mt-4 btn btn-lg btn-orange" %>
  </div>
</div>
