<% if project.is_client? user %>
    <div class="box">
        <h6>Invoices</h6>

        <% unless invoices.present? %>
        <p class="lead text-center">
            <%= "Nothing to be displayed here..." %>
        </p>
        <% else %>
        <table class="table border">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Month</th>
                <th scope="col">Year</th>
                <th scope="col">Amount</th>
                <th scope="col">Discount</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% invoices.each.with_index(1) do |invoice, index| %>
                <tr>
                <th class="align-middle" scope="row"><%= index %></th>
                <td class="align-middle"><%= invoice.from.strftime("%B") %></td>
                <td class="align-middle"><%= invoice.from.strftime("%Y") %></td>
                <td class="align-middle"><%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %></td>
                <td class="align-middle"><%= invoice.discount_percentage %>%</td>
                <td class="align-middle text-center">
                    <%= link_to "Details", [project, invoice], class: "btn btn-primary btn-sm" %>
                </td>
                </th>
            <% end %>
            </tbody>
        </table>
        <% end %>
    </div>
<% end %>