<%= form_with(model: project, local: true) do |form| %>
  <%= render 'shared/form/errors', errors: project.errors %>

  <div class="form-group">
    <%= form.label :name, t(:project_name) %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :icon, value: project.cached_icon_data %>
    <%= form.label :icon, t(:project_icon) %>
    <%= form.file_field :icon, class: "form-control", style: "height: 45px;" %>
  </div>

  <div class="form-group">
    <%= form.label :client_full_name, t(:client_full_name) %>
    <%= form.text_field :client_full_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :client_address, t(:client_address) %>
    <%= form.text_field :client_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :client_email, t(:client_email) %>
    <%= form.text_field :client_email, class: "form-control" %>
  </div>

  <div class="text-right mt-3">
    <%= link_to t(:cancel), "/", class: "btn btn-secondary" %>
    <%= form.submit t(:create_project), class: "btn btn-primary" unless project.persisted? %>
    <%= form.submit t(:update_project), class: "btn btn-primary ml-3" if project.persisted? %>
  </div>
<% end %>
