<div class="d-flex justify-content-between">
    <h4 class="mt-2">Invoices</h4>
    <div class="d-flex justify-content-end">
        <% unless project.is_client? current_user %>
            <%= link_to project_invoices_path(@project), class: "mx-2 btn btn-sm btn-outline-secondary border-0" do %>
                <%= icon "fas", "file-invoice", class: "mr-1" %>
                See all invoices
            <% end %>
            <%= link_to new_project_invoice_path(project), class: "btn btn-sm btn-primary" do %>
                <%= icon "far", "file-alt", class: "mr-1" %>
                Create invoice
            <% end %>
        <% end %>
    </div>
</div>
<% unless invoices.present? %>
    <div class="box text-center mt-2 mb-3">
        <p class="lead mb-0">No invoices found...</p>
    </div>
<% else %>
    <div class="row">
        <% invoices.each do |invoice| %>
        <div class="col-lg-3">
            <div class="invoice-box box mt-2 mb-3">
                <div class="invoice-actions">
                    <%= render 'invoices/action_dropdown', invoice: invoice, user: current_user %>
                </div>

                <% if invoice.is_paid? %>
                    <div class="invoice-status-badge badge badge-success">Paid</div>
                <% end %>

                <% if invoice.is_unpaid? %>
                    <div class="invoice-status-badge badge badge-warning">Unpaid</div>
                <% end %>

                <div class="text-center">
                    <%= image_tag invoice.user.avatar_or_default, class: "avatar mb-2" %>
                    <h5><%= invoice.user.first_name %><br><%= invoice.user.last_name %></h5>
                </div>

                <div class="text-center mt-3">
                    <p class="mb-0"><%= humanized_invoice_period(invoice) %></p>
                    <p class="invoice-amount mb-0 text-dark"><%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %></p>
                </div>

                <div class="mt-4 text-center">
                    <% if invoice.invoice.present? %>
                        <%= link_to("Download invoice", download_invoice_project_invoice_path(invoice.project, invoice), class: "my-1 mx-2 border btn btn-sm py-2 px-4") %>
                    <% else %>
                        <button data-toggle="tooltip" title="You will be able to download the invoice once it gets uploaded" class="disabled my-1 mx-2 border btn btn-sm py-2 px-4" type="button">Download invoice</button>
                    <% end %>

                    <% if invoice.payment.present? %>
                        <%= link_to("Download receipt", download_payment_project_invoice_path(invoice.project, invoice), class: "my-1 mx-2 border btn btn-sm py-2 px-4") %>
                    <% else %>
                        <button data-toggle="tooltip" title="You will be able to download the payment receipt once it gets uploaded" class="disabled my-1 mx-2 border btn btn-sm py-2 px-4" type="button">Download receipt</button>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
<% end %>