<h4 class="text-sm font-bold text-gray-600 my-3 uppercase">Miembros</h4>
<% contracts.each do |contract| %>
  <div class="mb-2">
    <% if can? :manage, contract %>
      <%= link_to edit_project_project_contract_path(project, contract), class: "btn btn-secondary w-full animation-expand-hover" do %>
        <div class="flex items-center">
          <%= render "shared/icon/avatar", image_url: contract.user.picture, extra_css: "mr-3" %>
          <div>
            <div class="text-lg text-black font-bold"><%= contract.user.first_name %> <%= contract.user.last_name %></div>
            <span class="text-gray-500 font-normal"><%= contract.activity %></span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="flex items-center">
        <%= render "shared/icon/avatar", image_url: contract.user.picture, extra_css: "mr-3" %>
        <div>
          <div class="text-lg font-bold"><%= contract.user.first_name %> <%= contract.user.last_name %></div>
          <span class="text-gray-500"><%= contract.activity %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="mt-4">
  <%= render 'projects/add_member_button', project: project %>
</div>
