<div class="flex items-center">
  <div class="flex">
    <% contracts.each do |contract| %>
      <% if can? :manage, contract %>
        <%= link_to edit_project_project_contract_path(project, contract) do %>
          <%= render "shared/icon/avatar_sm", image_url: contract.user.picture, extra_css: "-mr-1 border-2" %>
        <% end %>
      <% else %>
          <%= render "shared/icon/avatar_sm", image_url: contract.user.picture, extra_css: "-mr-1 border-2" %>
      <% end %>
    <% end %>
  </div>
  <div class="mx-2">
    <%= render 'projects/add_member_button', project: project %>
  </div>
  <div class="mx-2">
    <%= render 'projects/reports_button', project: project %>
  </div>
</div>
