<div class="mb-4 flex justify-between items-center">
  <div class="flex items-center">
    <%= render 'shared/icon/avatar', image_url: @project.icon_url || image_url('default-project-icon.png'), extra_css: "mr-3" %>

    <div>
      <div class="flex items-center">
        <h2 class="text-2xl font-bold mr-2"><%= @project.name %></h2>
        <% if can? :manage, @project %>
          <%= link_to edit_project_path(@project), class: "flex items-center text-blue-400" do %>
            <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <%= t :edit %>
          <% end %>
        <% end %>
      </div>
      <%= render 'members_list', project: @project, contracts: @contracts %>
    </div>
  </div>

  <div>
    <%= render "stopwatch_button" %>
  </div>
</div>
