<% unless project.is_client? user %>
  <div class="row">
    <div class="col-lg-3">
      <h4 class="mt-2">Tracks</h4>
    </div>
    <div class="col-lg-9 text-right">
      <div class="dropdown d-inline">
        <a class="btn btn-sm btn-outline-secondary border-0 dropdown-toggle" href="#" role="button" id="trackFilterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= icon "fas", "search", class: "mr-1" %>
          Filter tracks
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="trackFilterDropdown">
          <%= render 'activity_track_filter_box', project: @project, logs_from: @logs_from, logs_to: @logs_to %>
        </div>
      </div>

      <div class="dropdown d-inline">
        <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" id="addTrackDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= icon "fas", "plus", class: "mr-1" %>
          Add track
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="trackFilter">
          <%= render 'activity_track_box', project: @project, activity_track: ActivityTrack.new, user: current_user %>
        </div>
      </div>
    </div>
  </div>

  <% unless logs.present? %>
    <div class="mt-2 box text-center">
      <p class="lead mb-0">No tracks found...</p>
    </div>
  <% end %>
  
  <% logs.each do |log| %>
    <%= render 'activity_tracks/show', log: log %>
  <% end %>
<% end %>


<!--
<% if logs.present? %>
        <p class="pt-3">
          Total entries: <%= logs.size %><br />
          Logged time in all entries: <%= calculate_hours_from logs %><br />
          Amount from logs: <%= humanized_money_with_currency(calculate_invoice_amount_from(logs), 'USD') %>
        </p>
      <% else %>
        <p class="lead text-center py-5">No logs found :(</p>
      <% end %>
-->