<% unless project.is_client? user %>
  <h4 class="text-lg font-bold my-3"><%= t :activity_logs %></h4>

  <% unless logs.present? %>
    <div class="text-center">
      <%= render "shared/content/box" do %>
        <p class="text-lg text-gray-600 mb-3"><%= t :no_logs_found %></p>
        <%= link_to t(:log_activity), new_project_activity_track_url(@project), class: "inline-block bg-orange-500 text-white rounded p-3" %>
      <% end %>
    </div>
  <% else %>
    <div class="flex items-center justify-between">
      <div class="mb-2">
        <div class="p-3">
          <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">
            <%= t :total_logs %>
          </span>
          <div class="text-gray-800"><%= all_logs.size %></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="p-3">
          <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">
            <%= t :time_from_logs %>
          </span>
          <div class="text-gray-800"><%= calculate_hours_from all_logs %></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="p-3">
          <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">
            <%= t :billable %>
          </span>
          <div class="text-gray-800">
            <%= humanized_money_with_currency(calculate_invoice_amount_from(all_logs), 'USD') %>
          </div>
        </div>
      </div>
    </div>
    <% logs.each do |log| %>
      <div class="mb-2">
        <%= render 'activity_tracks/show', log: log %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= will_paginate logs %>
    </div>
    <div class="text-center mt-3">
      <%= link_to t(:log_activity), new_project_activity_track_url(@project), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
