<% unless project.is_client? user %>
  <h4 class="text-sm font-bold text-gray-600 my-3 uppercase"><%= t :activity_logs %></h4>

  <%= render "logged_notification" %>

  <% unless logs.present? %>
    <div class="text-center">
      <%= render "shared/content/box" do %>
        <p class="text-lg text-gray-500 mb-3"><%= t :no_logs_found %></p>
        <span class="relative inline-flex rounded-md shadow-sm">
          <%= link_to t(:log_activity), new_project_activity_track_url(@project), class: "inline-block btn btn-secondary" %>
          <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-pink-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500"></span>
          </span>
        </span>
      <% end %>
    </div>
  <% else %>
    <div class="px-2 border rounded bg-gray-200 mb-3 flex items-center justify-between">
      <div class="w-1/3 text-center">
        <div class="p-3">
          <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">
            <%= t :total_logs %>
          </span>
          <div class="text-gray-800"><%= all_logs.size %></div>
        </div>
      </div>
      <div class="w-1/3 text-center">
        <div class="p-3">
          <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">
            <%= t :time_from_logs %>
          </span>
          <div class="text-gray-800"><%= calculate_hours_from all_logs %></div>
        </div>
      </div>
      <div class="w-1/3 text-center">
        <div class="p-3">
          <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">
            <%= t :billable %>
          </span>
          <div class="text-gray-800">
            <%= humanized_money_with_currency(calculate_invoice_amount_from(all_logs), 'USD') %>
          </div>
        </div>
      </div>
    </div>
    <% logs.each do |log| %>
      <div class="mb-2">
        <%= render 'activity_tracks/show', log: log %>
      </div>
    <% end %>
    <div class="mb-3 text-right">
      <%= will_paginate logs %>
    </div>
    <div class="text-center mt-3">
      <%= link_to t(:log_activity), new_project_activity_track_url(@project), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
