<% unless project.is_client? user %>
  <div class="row">
    <div class="col-lg-3">
      <h4 class="mt-2">Tracks</h4>
    </div>
    <div class="col-lg-9 text-right">
      <button type="button" class="btn btn-sm btn-outline-secondary border-0" data-target="#trackFilterModal" data-toggle="modal">
        <%= icon "fas", "search", class: "mr-1" %>
        Filter tracks
      </button>

      <div class="modal fade" id="trackFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body text-left">
              <h6 class="px-4 pt-4">Filter tracks</h6>
              <%= render 'activity_track_filter_box', project: @project, logs_from: @logs_from, logs_to: @logs_to %>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-sm btn-primary" data-target="#addTrackModal" data-toggle="modal">
        <%= icon "fas", "plus", class: "mr-1" %>
        Add track
      </button>

      <div class="modal fade" id="addTrackModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body text-left">
              <h6 class="px-4 pt-4">Add track</h6>
              <%= render 'activity_track_box', project: @project, activity_track: ActivityTrack.new, user: current_user %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% unless logs.present? %>
    <div class="mt-2 box text-center">
      <p class="lead mb-0">No tracks found...</p>
    </div>
  <% else %>
    <div class="form-row">
      <div class="col-xl-3 mt-2 mb-2">
        <div class="p-3">
          Stats from tracks
          <div class="stats-number"><%= logs.size %></div>
        </div>
      </div>
      <div class="col-xl-6 mt-2 mb-2">
        <div class="p-3">
          Time from tracks
          <div class="stats-number"><%= calculate_hours_from logs %></div>
        </div>
      </div>
      <div class="col-xl-3 mt-2 mb-2">
        <div class="p-3">
          Amount from tracks
          <div class="stats-number">
            <%= humanized_money_with_currency(calculate_invoice_amount_from(logs), 'USD') %>
          </div>
        </div>
      </div>
    </div>
    <% logs.each do |log| %>
      <%= render 'activity_tracks/show', log: log %>
    <% end %>
  <% end %>
<% end %>


<!--
<% if logs.present? %>
        <p class="pt-3">
          Total entries: <%= logs.size %><br />
          Logged time in all entries: <%= calculate_hours_from logs %><br />
          Amount from logs: <%= humanized_money_with_currency(calculate_invoice_amount_from(logs), 'USD') %>
        </p>
      <% else %>
        <p class="lead text-center py-5">No logs found :(</p>
      <% end %>
-->