<div class="media">
  <%= render 'shared/icon/avatar', image_url: @project.icon_url || image_url('default-project-icon.png'), extra_css: "big mr-3 align-self-start" %>
  <div class="media-body">
    <h1 class="mb-0"><%= t :onboarding_who_will_be_working_on_project, project: @project.name %></h1>
    <h2 class="lead"><%= t :onboarding_invite_your_team_to_your_project %></h2>
  </div>
</div>

<div class="box mt-4">
  <h3><%= t :onboarding_invite_member %></h3>
  <%= form_with(model: [@project, @project_contract], method: :post, url: invite_member_from_onboarding_project_url, local: true) do |form| %>
    <%= render 'shared/form/errors', errors: @project_contract.errors %>

    <div class="form-group">
      <%= form.label :user_email, t(:user_gmail) %>
      <%= form.email_field :user_email, class: "form-control", required: true %>
      <small class="text-muted"><%= t :only_gmail_accounts_supported %></small>
    </div>

    <div class="form-group">
      <%= form.label :activity, t(:role) %> <i class="fas fa-question-circle" data-toggle="tooltip" title="<%= t :role_tooltip %>"></i>
      <%= form.text_field :activity, class: "form-control", placeholder: "Developer, designer, etc." %>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <%= form.label :project_rate, t(:project_hourly_rate) %> <i class="fas fa-question-circle" data-toggle="tooltip" title="<%= t :project_hourly_rate_tooltip %>"></i>
          <%= form.number_field :project_rate, step: ".01", class: "form-control" %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= form.label :user_rate, t(:user_hourly_rate) %> <i class="fas fa-question-circle" data-toggle="tooltip" title="<%= t :user_hourly_rate_tooltip %>"></i>
          <%= form.number_field :user_rate, step: ".01", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :user_fixed_rate, t(:user_fixed_rate) %> <i class="fas fa-question-circle" data-toggle="tooltip" title="<%= t :user_fixed_rate_tooltip %>"></i>
      <%= form.number_field :user_fixed_rate, step: ".01", class: "form-control" %>
    </div>

    <div class="text-right">
      <%= form.submit t(:add_member), class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-lg-6">
      <%= link_to t(:back), onboarding_project_url(@project), class: "btn btn-outline-primary" %>
    </div>
    <div class="col-lg-6 text-right">
      <%= link_to t(:done), onboarding_done_project_url(@project), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'projects/onboarding' %>
