<%= render "project_header" %>

<%= render "logged_notification" %>

<%= render "invoice_confirm_hours_notification" %>
<%= render "invoice_updates_notification" %>

<div class="grid grid-cols-2 gap-3">
  <div>
    <%= render 'invoices_box', project: @project, activity_track: ActivityTrack.new, user: current_user, invoices: @invoices %>
  </div>
  <div>
    <%= render 'tracks_box', project: @project, logs_from: @logs_from, logs_to: @logs_to, logs: @logs, all_logs: @all_logs, user: current_user %>
  </div>
</div>

<%= render "stopwatch" %>
