<div class="row">
  <div class="col-lg-4">
    <div class="box mb-4">
      <h6>Project</h6>
      <div class="text-center">
        <%= image_tag @project.icon_url, class: "project-icon" %>
        <h5><%= @project.name %></h5>
      </div>
      <%= render 'edit_button', project: @project %>
      <%= render 'invoices_button', project: @project, invoice: @project.invoices.first %>
    </div>

    <%= render 'members_box', project: @project, contracts: @contracts, user: current_user %>
    <%= render 'project_contracts/your_contract', project: @project, contract: @contract, user: current_user %>
  </div>

  <div class="col-lg-8">
    <%= render 'activity_track_box', project: @project, activity_track: ActivityTrack.new, user: current_user %>
    <%= render 'tracks_box', project: @project, logs_from: @logs_from, logs_to: @logs_to, logs: @logs, user: current_user %>
    <%= render 'client_invoice_box', project: @project, invoices: @invoices, user: current_user %>
  </div>
</div>