<div class="projects-show">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
    </ol>
  </nav>

  <div class="media mb-4">
    <%= image_tag @project.icon_url || '', class: "project-icon mr-3 align-self-start" %>
    <div class="media-body">
      <h2 class="mb-0">
        <%= @project.name %>
        <% if can? :manage, @project %>
          <%= link_to edit_project_path(@project), class: "btn btn-sm btn-link p-1 px-2 border-0" do %>
            <%= icon "fa", "edit" %>
            Edit
          <% end %>
        <% end %>
      </h2>
      <%= render 'members_list', project: @project, contracts: @contracts %>
    </div>
  </div>

  <% unless @project.is_client? current_user %>
  <div class="row">
    <div class="col-xl-6">
      <%= render 'tracks_box', project: @project, logs_from: @logs_from, logs_to: @logs_to, logs: @logs, all_logs: @all_logs, user: current_user %>
    </div>
    <div class="col-xl-6">
      <%= render 'invoices_box', project: @project, activity_track: ActivityTrack.new, user: current_user, invoices: @invoices %>
      <div class="text-right">
        <%= link_to project_invoices_path(@project), class: "btn btn-sm btn-outline-secondary border-0" do %>
          <%= icon "fas", "file-invoice", class: "mr-1" %>
          See all invoices
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <%= render 'invoices_box', project: @project, activity_track: ActivityTrack.new, user: current_user, invoices: @invoices %>
  <% end %>
</div>