<%= render "project_header" %>

<%= render "logged_notification" %>

<%= render "invoice_confirm_hours_notification" %>
<%= render "invoice_updates_notification" %>

<div class="grid grid-cols-2 gap-3">
  <div>
    <%= render "tracks_box", project: @project, user: current_user, logs: @logs, all_logs: @all_logs %>
  </div>
  <div>
    <%= render "invoices", invoices: @invoices %>
  </div>
</div>

<%= render "stopwatch" %>
