<div class="row">
  <div class="col-lg-6">
    <div class="box mb-4">
      <h6>Project</h6>
      <div class="text-center">
        <%= image_tag @project.icon_url, class: "project-icon" %>
        <h5><%= @project.name %></h5>
      </div>
      <%= render 'edit_button', project: @project %>
      <%= render 'invoices_button', project: @project, invoice: @project.invoices.first %>
    </div>
    <%= render 'members_box', project: @project, contracts: @contracts unless @project.is_client? current_user %>
  </div>

  <div class="col-lg-6 mb-4">
    <% if @project.is_client? current_user %>
      <%= render 'members_box', project: @project, contracts: @contracts %>
    <% else %>
      <%= render 'project_contracts/your_contract', contract: @contract %>
    <% end %>
  </div>
</div>

<% unless @project.is_client? current_user %>
  <div class="box mb-4">
    <h6>Activity track</h6>
    <%= render 'activity_tracks/form', project: @project, activity_track: ActivityTrack.new %>
  </div>

  <%= render 'tracks_box', project: @project, logs_from: @logs_from, logs_to: @logs_to, logs: @logs %>
<% end %>