<div class="projects-show">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
    </ol>
  </nav>

  <div class="media mb-4">
    <%= image_tag @project.icon_url || '', class: "project-icon mr-3 align-self-start" %>
    <div class="media-body">
      <h2 class="mb-0">
        <%= @project.name %>
        <% if can? :manage, @project %>
          <%= link_to edit_project_path(@project), class: "btn btn-sm btn-link p-1 px-2 border-0" do %>
            <%= icon "fa", "edit" %>
            Edit
          <% end %>
        <% end %>
      </h2>
      <%= render 'members_list', project: @project, contracts: @contracts %>
    </div>
  </div>

  <% unless @project.is_client? current_user %>
    <% unless @has_logged_today %>
      <div class="alert alert-warning border">
        <div class="media">
          <div class="mr-3">
            <i class="fas fa-bullhorn"></i>
          </div>
          <div class="media-body">
            <h6 class="alert-heading mb-0">Friendly reminder</h6>
            <%= current_user.first_name %>, seems like you haven't logged any activity today. Let's <%= link_to "create a new track", new_project_activity_track_path(@project) %>.
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xl-12 my-4">
        <%= render 'invoices_box', project: @project, activity_track: ActivityTrack.new, user: current_user, invoices: @invoices %>
      </div>
      <div class="col-xl-12 my-4">
        <%= render 'tracks_box', project: @project, logs_from: @logs_from, logs_to: @logs_to, logs: @logs, all_logs: @all_logs, user: current_user %>
      </div>
    </div>
  <% else %>
    <%= render 'invoices_box', project: @project, activity_track: ActivityTrack.new, user: current_user, invoices: @invoices %>
  <% end %>
</div>