<%= render "shared/content/box" do %>
  <div class="flex items-start">
    <%= image_tag "afip-invoice.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="text-lg font-bold">
        <%= t :upload_afip_invoice %>
      </h4>
      <p class="text-lg">
        <%= t :upload_afip_invoice_description %>
      </p>

      <%= form_with(url: upload_invoice_project_invoice_path(@invoice.project, @invoice), model: @invoice, method: :post, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :invoice, t(:afip_invoice) %>
          <%= f.file_field :invoice, class: "form-control", style: "height: 45px;" %>
        </div>
        <div class="text-center">
          <%= f.submit t(:add_invoice), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
