<%= form_with(model: [project, activity_stop_watch], local: true) do |form| %>
  <%= render 'shared/form/errors', errors: activity_stop_watch.errors %>

  <% contract = current_user.currently_active_contract_for(project) %>
  <% unless contract.project_rate.positive? %>
    <div class="alert alert-warning border mb-2">
      <%= t :set_your_rates_warning_html, update_rates_url: edit_project_project_contract_path(project, contract) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, t(:stopwatch_description_optional) %>
    <%= form.text_area :description, class: "form-control" %>
    <small class="text-muted"><%= t :stopwatch_description_can_be_updated %></small>
  </div>

  <div class="text-right">
    <%= link_to t(:cancel), project, class: "btn btn-link" %>
    <%= form.submit t(:start_stopwatch), class: "btn btn-primary" %>
  </div>
<% end %>
