<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
    <li class="breadcrumb-item"><%= link_to "Reports", project_reports_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Show report</li>
  </ol>
</nav>

<%= form_with(model: [@report.project, @report], local: true) do |form| %>
<div class="box reports">
  <h6>Show report</h6>

  <h6 class="mt-4 mb-2">Workers</h6>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Invoice</th>
        <th scope="col" class="text-right">To paid</th>
        <th scope="col" class="text-right">Hours</th>
        <th scope="col" class="text-right">Revenue</th>
      </tr>
    </thead>
    <tbody>
      <% total_to_be_paid = 0 %>
      <% total_hours = 0 %>
      <% total_revenue = 0 %>

      <%= form.fields_for :report_worker_entries do |worker_entry| %>
        <%= worker_entry.hidden_field :id %>
        <tr>
          <td style="width: 300px;">
            <%= "#{worker_entry.object.user.first_name} #{worker_entry.object.user.last_name}" %>
          </td>
          <td style="width: 350px;">
            <div>
              <div class="d-flex">
                <%= worker_entry.select :invoice_id,
                                        @invoices.collect { |invoice| ["#{invoice.user.first_name} #{invoice.user.last_name} (#{humanized_money_with_currency(invoice.calculate_total, "USD")}) #{invoice.is_paid? ? 'PAID' : 'UNPAID'}", invoice.id] },
                                        { include_blank: "Select invoice" },
                                        { class: "form-control" } %>
                <% if worker_entry.object.invoice.present? %>
                  <div class="align-self-start">
                      <%= render 'invoices/action_dropdown', invoice: worker_entry.object.invoice, user: current_user %>
                  </div>
                <% end %>
              </div>
            </div>
            <%= worker_entry.button class: "mt-2 btn btn-sm btn-outline-primary btn-block" do %>
              <%= icon "fas", "link", class: "mr-2" %> Link invoice
            <% end %>
          </td>
          <td class="text-right">
            <% if worker_entry.object.invoice.nil? %>
              -
            <% else %>
              <% invoice_amount = worker_entry.object.invoice.calculate_total %>
              <% total_to_be_paid += invoice_amount %>
              <%= humanized_money_with_currency invoice_amount, "USD" %>
            <% end %>
          </td>
          <td class="text-right">
            <% if worker_entry.object.invoice.nil? %>
              -
            <% else %>
              <% invoice_hours = worker_entry.object.invoice.calculate_hours %>
              <% total_hours += invoice_hours %>
              <%= invoice_hours.round(2) %>
            <% end %>
          </td>
          <td class="text-right">
            <% if worker_entry.object.invoice.nil? %>
              -
            <% else %>
              <% invoice_revenue = worker_entry.object.invoice.calculate_revenue %>
              <% total_revenue += invoice_revenue %>
              <%= humanized_money_with_currency invoice_revenue, "USD" %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2" class="text-right">Total</td>
        <td class="text-right"><%= humanized_money_with_currency total_to_be_paid, "USD" %></td>
        <td class="text-right"><%= total_hours.round(2) %></td>
        <td class="text-right"><%= humanized_money_with_currency total_revenue, "USD" %></td>
      </tr>
    </tbody>
  </table>

  <h6 class="mt-4 mb-2">Client</h6>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Invoice</th>
        <th scope="col" class="text-right">Total</th>
        <th scope="col" class="text-right">Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 300px;">
          <%= @project.name %>
        </td>
        <td style="width: 350px;">
          <div>
            <div class="d-flex">
              <%= form.select :invoice_id,
                              @client_invoices.collect { |invoice| ["#{humanized_money_with_currency(invoice.calculate_total, "USD")} - #{invoice.is_paid? ? 'PAID' : 'UNPAID'}", invoice.id] },
                              { include_blank: "Select client invoice" },
                              { class: "form-control" } %>
              <% if @report.invoice.present? %>
                <div class="align-self-start">
                    <%= render 'invoices/action_dropdown', invoice: @report.invoice, user: current_user %>
                </div>
              <% end %>
            </div>
          </div>
          <%= form.button class: "mt-2 btn btn-sm btn-outline-primary btn-block" do %>
            <%= icon "fas", "link", class: "mr-2" %> Link client invoice
          <% end %>
        </td>
        <td class="text-right">
          <%= @report.invoice.present? ? humanized_money_with_currency(@report.invoice.calculate_total, "USD") : "-" %>
        </td>
        <td class="text-right">
          <% total_profit = 0 %>
          <% if @report.invoice.present? %>
            <% total_profit = @report.invoice.calculate_total - total_to_be_paid %>
            <%= humanized_money_with_currency total_profit, "USD" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <h6 class="mt-4 mb-2">Partners</h6>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-right">Percentage</th>
        <th scope="col" class="text-right">Profit</th>
      </tr>
    </thead>
    <tbody>
      <% @report.report_partner_entries.each do |partner_entry| %>
      <tr>
        <td><%= "#{partner_entry.user.first_name} #{partner_entry.user.last_name}" %></td>
        <td class="text-right"><%= partner_entry.percentage %>%</td>
        <td class="text-right"><%= humanized_money_with_currency(total_profit * (partner_entry.percentage / 100), "USD") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>