<!doctype html>
<html lang="es" class="h-full text-gray-900 antialiased leading-tight">
  <head>
    <%= render "shared/header/metatags" %>
    <%= render "shared/header/auth/styles" %>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "3yqkgnn7sb");
    </script>
  </head>
  <body class="flex flex-col h-full bg-gray-100">
    <%= render "shared/header/auth/menu" %>
    <main class="flex-1">
      <%= render "shared/header/auth/alert" %>
      <div class="container mx-auto mt-3 pb-8">
        <div>
          <div class="breadcrumb container mx-auto py-6 text-base text-gray-500">
            <%= render_breadcrumbs separator: ' / ' %>
          </div>
        </div>
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer/footer" %>
  </body>
</html>
