<!doctype html>
<html lang="es" class="text-gray-900 antialiased leading-tight">
  <head>
    <%= render "shared/header/metatags" %>
    <%= render "shared/header/styles" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script async defer data-domain="trackear.app" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body class="min-h-screen bg-gray-100">
    <%= render "shared/header/menu" %>
    <%= render "shared/header/alert" %>
    <div class="container mx-auto">
      <%= yield %>
    </div>
    <div id="feedback-modal"></div>
    <%= render "shared/footer/footer" %>
    <%= render "shared/footer/javascript" %>
  </body>
</html>
