<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_url('favicon/apple-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_url('favicon/apple-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_url('favicon/apple-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_url('favicon/apple-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url('favicon/apple-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_url('favicon/apple-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_url('favicon/apple-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url('favicon/apple-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url('favicon/apple-icon-180x180.png') %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_url('favicon/android-icon-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url('favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_url('favicon/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url('favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= asset_url('favicon/manifest.json') %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= image_url('favicon/ms-icon-144x144.png') %>">
    <meta name="theme-color" content="#ffffff">

    <title>Trackear - Aplicación de gestión de trabajo para freelancers argentinos. Calculá y registrá tus horas de trabajo</title>
    <meta name="description" content="Aplicación de gestión de trabajo para freelancer. Administrá tu equipo, registrá horas de trabajo y facturá. Trackear es LA herramienta indispensable para el freelancer argentino.">
    <meta name="keywords" content="aplicación para control de tiempo, calculá horas, gestionar horas de trabajo, gestion de trabajo, controla tu tiempo, herramienta de control de tiempo, trackear, registro de trabajo, freelancer, administracion de equipos, registro de horas, freelancer argentino, facturación, afip">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Trackear">
    <meta property="og:title" content="Registra tu trabajo y facturá">
    <meta property="og:image" content="<%= image_url 'projects-view.png' %>">
    <meta property="og:description" content="Aplicación de gestión de trabajo para freelancer. Administrá tu equipo, registrá horas de trabajo y facturá. Trackear es LA herramienta indispensable para el freelancer argentino.">
    <meta property="og:url" content="https://www.trackear.app">

    <link rel="canonical" href="https://www.trackear.app/">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= javascript_pack_tag "main" %>
  </body>
</html>
