<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153279158-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153279158-2');
    </script>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>BlackMountain - Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="d-flex flex-column">
  <div class="content-container">
    <% if notice.present? %>
      <div class="alert alert-info text-center"><%= notice %></div>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom py-2">
      <a class="navbar-brand" href="/">
        <%= image_tag "icon-alt.png", height: "32" %>
      </a>
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-center collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-home mr-2"></i>
                Home
              </a>
            </li>
            <li class="nav-item">
              <%= link_to(new_project_path, class: "nav-link") do %>
                <i class="far fa-plus-square mr-2"></i>
                Create new project
              <% end %>
            </li>
            <% if can? :manage, Expense %>
              <li class="nav-item">
                <%= link_to(expenses_path, class: "nav-link") do %>
                  <i class="fas fa-wallet mr-2"></i>
                  Expenses
                <% end %>
              </li>
            <% end %>
            <% if can? :manage, User %>
              <li class="nav-item">
                <%= link_to(users_path, class: "nav-link") do %>
                  <i class="fas fa-users mr-2"></i>
                  Users
                <% end %>
              </li>
            <% end %>
            <% if session[:impersonating_from].present? %>
              <li class="nav-item">
                <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
                  <i class="fas fa-sign-out-alt mr-2"></i>
                  Exit impersonating <%= current_user.email %>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
                  <i class="fas fa-sign-out-alt mr-2"></i>
                  Logout <%= current_user.email %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 pt-5">
          <div class="px-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag "logo.png", height: "18" %>
          <p class="pt-4">
            We deliver high quality results on time, no messing around
          </p>
          <p class="pt-2">
            If you have any comments, suggestions or feedback, please write us to contact@black-mountain.com.ar
          </p>
        </div>
        <div class="col-lg-3">
          <div class="font-weight-bold my-2">COMPANY</div>
          <ul class="list-unstyled">
            <li class="py-2">
              <i class="fas fa-cogs"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#what-do-we-do">Our services</a>
            </li>
            <li class="py-2">
              <i class="fas fa-hands-helping"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#why-us">Why working with us?</a>
            </li>
            <li class="py-2">
              <i class="fas fa-question-circle"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#how">How do we work?</a>
            </li>
            <li class="py-2">
              <i class="fas fa-paper-plane"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#get-in-touch">Get in touch</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3">
          <div class="my-2 font-weight-bold">SOCIAL MEDIA</div>
          <ul class="list-unstyled">
            <li class="py-2">
              <i class="fab fa-linkedin"></i>
              <a href="https://www.linkedin.com/company/blackmountain-solutions">LinkedIn</a>
            </li>
            <li class="py-2">
              <i class="fab fa-github-square"></i>
              <a href="https://github.com/BlackMountainSolutions">GitHub</a>
            </li>
            <li class="py-2">
              <i class="fab fa-facebook-square"></i>
              <a href="https://www.facebook.com/blackmountainsolutions">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_pack_tag 'main' %>
  </body>
</html>
