<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>BlackMountain - Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
  <% if notice.present? %>
    <div class="alert alert-info text-center"><%= notice %></div>
  <% end %>
  <nav class="d-xl-none navbar navbar-expand-lg navbar-light bg-white border-bottom py-2">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.svg", height: "18" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-home mx-3"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <%= link_to(new_project_path, class: "nav-link") do %>
            <i class="far fa-plus-square mx-3"></i>
            Create new project
          <% end %>
        </li>
        <% if can? :manage, User %>
          <li class="nav-item">
            <%= link_to(users_path, class: "nav-link") do %>
              <i class="fas fa-users mx-3"></i>
              Users
            <% end %>
          </li>
        <% end %>
        <% if session[:impersonating_from].present? %>
          <li class="nav-item">
            <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
              <i class="fas fa-sign-out-alt mx-3"></i>
              Exit impersonate
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
              <i class="fas fa-sign-out-alt mx-3"></i>
              Logout
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 d-none d-xl-block left-menu">
        <a class="d-flex justify-content-center py-3" href="/">
          <%= image_tag "logo.svg", height: "18" %>
        </a>
        <div class="media menu-item-user">
          <%= image_tag current_user.picture, class: "rounded-circle mr-2", height: 36, width: 36 %>
          <div class="media-body">
            <h6 class="username"><%= "#{current_user.first_name} #{current_user.last_name}" %></h6>
            <span class="email" data-toggle="tooltip" title="<%= current_user.email %>"><%= current_user.email %></span>
          </div>
        </div>
        <a href="/" class="menu-item">
          <i class="fas fa-home mx-3"></i>
          Home
        </a>
        <%= link_to(new_project_path, class: "menu-item") do %>
          <i class="far fa-plus-square mx-3"></i>
          Create new project
        <% end %>
        <%= link_to(expenses_path, class: "menu-item") do %>
          <i class="fas fa-wallet mx-3"></i>
          Expenses
        <% end %>
        <% if can? :manage, User %>
          <%= link_to(users_path, class: "menu-item") do %>
            <i class="fas fa-users mx-3"></i>
            Users
          <% end %>
        <% end %>
        <% if session[:impersonating_from].present? %>
          <%= link_to(destroy_user_session_path, method: :delete, class: "menu-item") do %>
            <i class="fas fa-sign-out-alt mx-3"></i>
            Exit impersonate
          <% end %>
        <% else %>
          <%= link_to(destroy_user_session_path, method: :delete, class: "menu-item") do %>
            <i class="fas fa-sign-out-alt mx-3"></i>
            Logout
          <% end %>
        <% end %>
      </div>
      <div class="col-xl-10 content-container pt-5">
        <div class="px-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="d-none d-lg-block d-xl-block col-lg-4 text-center">
          <%= image_tag "icon.png" %>
        </div>
        <div class="d-xl-none d-lg-none mb-4 col-lg-4 text-center">
          <%= image_tag "logo.png", height: "18" %>
        </div>
        <div class="col-lg-4">
          <h6 class="font-weight-bold">COMPANY</h6>
          <ul class="list-unstyled">
            <li class="py-2">
              <i class="fas fa-cogs"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#what-do-we-do">Our services</a>
            </li>
            <li class="py-2">
              <i class="fas fa-hands-helping"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#why-us">Why working with us?</a>
            </li>
            <li class="py-2">
              <i class="fas fa-question-circle"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#how">How do we work?</a>
            </li>
            <li class="py-2">
              <i class="fas fa-paper-plane"></i>
              <a href="https://black-mountain.com.ar/?utm_campaign=interaction&utm_medium=footer&utm_source=dashboard#get-in-touch">Get in touch</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h6 class="font-weight-bold">SOCIAL MEDIA</h6>
          <ul class="list-unstyled">
            <li class="py-2">
              <i class="fab fa-linkedin"></i>
              <a href="https://www.linkedin.com/company/blackmountain-solutions">LinkedIn</a>
            </li>
            <li class="py-2">
              <i class="fab fa-github-square"></i>
              <a href="https://github.com/BlackMountainSolutions">GitHub</a>
            </li>
            <li class="py-2">
              <i class="fab fa-facebook-square"></i>
              <a href="https://www.facebook.com/blackmountainsolutions">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'main' %>
  </body>
</html>
